@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Roboto:wght@100&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Whisper&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=IM+Fell+Great+Primer:ital@0;1&family=Roboto:wght@100&family=Rock+Salt&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Whisper&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Remove padding from ul, ol */
ul,
ol {
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* FONT SIZE */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

#root {
  position: relative;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

header .background-filter {
  background-position: fixed;
  position: absolute;
  inset: 0 0 0 0;
  -webkit-backdrop-filter: sepia(60%);
          backdrop-filter: sepia(60%);
  pointer-events: none;
  z-index: -2;
}

@media (min-width: 769px) {
  header {
    background-attachment: fixed;
    background-size: cover;
  }
}

header picture source,
header picture img {
  width: 100%;
  height: 100vh;
  -webkit-filter: sepia(60%);
          filter: sepia(60%);
}

header .header-message {
  z-index: -1;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

header .header-message h1 {
  position: relative;
  width: 100%;
  top: 45%;
  text-align: center;
  font-size: 5rem;
  z-index: -1;
  color: white;
  -webkit-backdrop-filter: opacity(30%);
          backdrop-filter: opacity(30%);
}

h2.featured {
  text-align: center;
  margin-block: 3.5rem;
}

.search {
  position: fixed;
  inset: 0 0 0 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

main {
  padding-block: 3.5rem;
  background-color: #efefef;
  position: relative;
  z-index: 0;
}

main .main {
  margin-inline: 1rem;
  font-family: "IM Fell Great Primer", serif;
}

main .main * {
  margin-inline: auto;
}

main .main img {
  width: 100%;
}

main .main .start-shopping {
  background: url(./../image/shopping.jpg);
  background-size: cover;
  height: 45vh;
  margin-bottom: 1.5rem;
}

main .main .start-shopping p {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-backdrop-filter: grayscale(60%);
          backdrop-filter: grayscale(60%);
  font-size: 2rem;
  color: black;
}

main .main .our-story {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  margin-top: 3.5rem;
  line-height: 2;
}

@media (min-width: 768px) {
  main .main {
    margin-inline: 3.5rem;
  }
}

@media (min-width: 992px) {
  main .main {
    margin-inline: 6rem;
  }
}

main .main .feautered-products {
  text-align: center;
}

main .main .feautered-products > h4 {
  margin-block: 2.5rem;
}

main .main .feautered-products .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-flow: 100%;
  gap: 1rem;
}

main .main .feautered-products .products .image-container {
  position: relative;
  margin-bottom: 0.75rem;
}

main .main .feautered-products .products .image-container .backdrop-filter {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 1;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  cursor: pointer;
}

main .main .feautered-products .products .image-container .backdrop-filter:hover {
  -webkit-backdrop-filter: brightness(120%);
          backdrop-filter: brightness(120%);
}

main .main .feautered-products .products .image-container .backdrop-filter:active {
  -webkit-backdrop-filter: brightness(90%);
          backdrop-filter: brightness(90%);
  -webkit-box-shadow: initial;
          box-shadow: initial;
}

.hidden-overflow {
  overflow: hidden;
}

nav {
  position: fixed;
  width: 100%;
  top: -100px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  -webkit-transition: top 0.2s ease-in-out;
  transition: top 0.2s ease-in-out;
  z-index: 1;
  border: 2px dashed #c69b7b;
}

nav a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  position: relative;
  color: #c69b7b;
}

nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #c69b7b;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

nav a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

nav .logo {
  font-family: "Shadows Into Light", cursive;
  font-size: 2.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

nav .utilities {
  font-size: 1.5rem;
}

nav .utilities a + a {
  margin-left: 0.75rem;
}

@media (min-width: 768px) {
  nav .utilities .show-nav {
    display: none;
  }
  nav .utilities .show-nav:active .root {
    right: 50%;
  }
}

nav .utilities .shopping-cart {
  position: relative;
}

nav .utilities .shopping-cart span {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -40%;
  left: 10%;
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: white;
  color: red;
  font-size: 0.8rem;
}

nav .nav {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background: powderblue;
  top: -1rem;
  right: -50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0.5rem;
  -webkit-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

nav .nav .close {
  position: absolute;
  left: 10px;
  cursor: pointer;
}

nav .nav li {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  nav .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: initial;
    width: initial;
    height: initial;
    background: none;
  }
  nav .nav .close {
    display: none;
  }
}

.slide-nav {
  right: 0 !important;
}

.scroll-nav {
  top: 0 !important;
  -webkit-box-shadow: 0 3px 5px 0 black;
          box-shadow: 0 3px 5px 0 black;
}

@media (min-width: 768px) {
  .shop {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 12fr;
        grid-template-columns: 3fr 12fr;
  }
  .shop div.category-list {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-right: 1px solid black;
    width: 100%;
    position: relative;
    height: 1000px;
  }
  .shop div.category-list ul {
    height: initial;
  }
  .shop div.category-list .bar:hover {
    -webkit-transform: none;
            transform: none;
  }
  .shop div.category-list .bar:active {
    -webkit-transform: none;
            transform: none;
  }
  .shop .button-load {
    grid-column: 2 / -1;
    width: 10rem;
    height: 3rem;
    margin-inline: auto;
  }
}

.shop .products-list {
  border-top: 1px solid;
  padding-block: 1.5rem;
  margin-inline: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 2rem;
  font-family: "IM Fell Great Primer", serif;
}

.shop .products-list article {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

.shop .products-list article .image-container {
  position: relative;
}

.shop .products-list article .image-container .backdrop-filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  cursor: pointer;
}

.shop .products-list article .image-container .backdrop-filter:hover {
  -webkit-backdrop-filter: brightness(120%);
          backdrop-filter: brightness(120%);
}

.shop .products-list article .image-container .backdrop-filter:active {
  -webkit-backdrop-filter: brightness(90%);
          backdrop-filter: brightness(90%);
  -webkit-box-shadow: initial;
          box-shadow: initial;
}

.shop .products-list article .details {
  text-align: center;
}

.button-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-list {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding-top: 1.5rem;
}

.category-list button {
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.category-list ul {
  overflow: auto;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0;
}

.category-list .bar:hover {
  -webkit-transform: translateY(-0.35rem);
          transform: translateY(-0.35rem);
}

.category-list .bar:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.product {
  padding: 0.5rem;
  height: auto;
  font-family: "IM Fell Great Primer", serif;
}

@media (min-width: 768px) {
  .product {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(0, 1fr))[10];
        grid-template-columns: repeat(10, minmax(0, 1fr));
  }
  .product .image-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .product .details {
    grid-column: 6 / -1;
  }
  .product .shop {
    grid-column: 6 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.product .image-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  place-items: center;
  gap: 0.1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.product .image-container .img1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.product .image-container .img3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.product .image-container .img2 {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

.product .image-container .img1,
.product .image-container .img2,
.product .image-container .img3 {
  width: 100%;
}

.product .image-container .img1 img,
.product .image-container .img2 img,
.product .image-container .img3 img {
  width: 100%;
  height: 100%;
}

.product .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
  text-align: center;
  width: 100%;
}

.product .details p {
  line-height: 2;
}

.product .size-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product .size-list form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-inline: auto;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100%;
}

.product .size-list form li {
  margin: 10px;
  position: relative;
  width: 100%;
  height: 3.5rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.product .size-list form li input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.product .size-list form li label {
  display: inline-block;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.product .size-list form li input:checked + label {
  border: 1px solid;
}

.product .size-list form .submit-btn {
  position: absolute;
  top: 100%;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 2px 1px black;
          box-shadow: 5px 5px 2px 1px black;
  border-radius: 4px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.product .size-list form .submit-btn:hover {
  -webkit-transform: translateY(-3px) translateX(-3px);
          transform: translateY(-3px) translateX(-3px);
  -webkit-box-shadow: 8px 8px 2px 1px black;
          box-shadow: 8px 8px 2px 1px black;
}

.product .size-list form .submit-btn:active {
  -webkit-transform: translateY(3px) translateX(3px);
          transform: translateY(3px) translateX(3px);
  -webkit-box-shadow: 2px 2px 2px 1px black;
          box-shadow: 2px 2px 2px 1px black;
}

@media (min-width: 768px) {
  .product .size-list form .submit-btn {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .product .size-list form .submit-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -0.6rem;
    top: -0.5rem;
    z-index: -1;
    background-color: #A27B5C;
    border-radius: 3px;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .product .size-list form .submit-btn:hover::before {
    top: 0;
    left: 0;
  }
  .product .size-list form .submit-btn:active {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

footer {
  padding-top: 2.5rem;
  background-color: #efefef;
  position: relative;
  z-index: 0;
}

footer form {
  display: -ms-grid;
  display: grid;
  gap: 0.25rem;
  place-items: center;
}

footer form * {
  display: block;
}

footer form label {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5rem;
}

footer form input {
  width: 60%;
  border: none;
  padding-inline: .5rem;
}

footer form input[type="submit"] {
  background-color: #aaaaaa;
  -webkit-box-shadow: 2px 2px 3px 1px gray;
          box-shadow: 2px 2px 3px 1px gray;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

footer form input[type="submit"]:active {
  -webkit-transform: translateX(2px) translateY(2px);
          transform: translateX(2px) translateY(2px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer .social-media {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .social-media a {
  color: black;
  border-radius: 50%;
  padding: 0.25rem;
}

footer .social-media a + a {
  margin-left: 1rem;
}

footer .social-media a * {
  width: 28px;
}

footer .footer-nav {
  padding: 0.5rem;
  font-family: 'Shadows Into Light', cursive;
}

footer .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-nav ul li + li {
  margin-left: 1rem;
}

.loader {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader > div {
  height: 100%;
  width: 8px;
  margin-left: 2px;
  -webkit-animation: delay 1s infinite ease-in-out;
  animation: delay 1s infinite ease-in-out;
}

.loader .bar1 {
  background-color: #754fa0;
}

.loader .bar2 {
  background-color: #09b7bf;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.loader .bar3 {
  background-color: #90d36b;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.loader .bar4 {
  background-color: #f2d40d;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.loader .bar5 {
  background-color: #fcb12b;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.loader .bar6 {
  background-color: #ed1b72;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes delay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes delay {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.shopping-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: all;
  background: rgba(0, 0, 0, 0.5);
}

.shopping-container .cart {
  position: relative;
  height: 100vh;
  background: #2C3639;
  float: right;
  z-index: 5;
  padding-inline: 0.5rem;
  width: 100%;
  overflow: auto;
}

@media (min-width: 768px) {
  .shopping-container .cart {
    width: 50%;
  }
}

.shopping-container .cart .added {
  border-bottom: 1px solid black;
  text-align: center;
  position: relative;
  padding-block: 1rem;
}

.shopping-container .cart .added .icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.shopping-container .cart .shopping-list {
  position: relative;
  color: #DCD7C9;
  z-index: 6;
  padding-inline: 0.25rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  margin-block: 0.5rem;
}

.shopping-container .cart .shopping-list .item-image {
  mix-blend-mode: multiply;
  width: 40%;
}

.shopping-container .cart .shopping-list .item-image img {
  height: 100%;
}

.shopping-container .cart .shopping-list .item-detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shopping-container .cart .shopping-list .item-detail input {
  width: 5ch;
}

.shopping-container .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-block: 0.25rem;
}

.shopping-container .checkout button {
  width: 90%;
  border-radius: 0;
}

.underline {
  width: 85%;
  height: 2px;
  background: black;
  margin: 1rem auto;
}

.login,
.create-account {
  border: 1px solid black;
  margin-inline: 1.75rem;
  text-align: center;
  font-family: "IM Fell Great Primer", serif;
}

.login form,
.create-account form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin-block: 3.75rem;
}

.login form span,
.create-account form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 0.5rem;
  width: 80%;
}

.login form input,
.login form button,
.create-account form input,
.create-account form button {
  width: 80%;
}

.login form input,
.create-account form input {
  padding: 0.5rem;
}

.login form button,
.create-account form button {
  padding: 1rem;
  background: #2c3639;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.login form button:hover,
.create-account form button:hover {
  background: white;
  color: #2c3639;
  border: 1px solid #2c3639;
}

.login .forgot-create,
.create-account .forgot-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-inline: 1rem;
}

.reset-password {
  border: 1px solid black;
  margin-inline: 1.75rem;
  text-align: center;
}

.reset-password form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin-block: 3.75rem;
}

.reset-password form input,
.reset-password form button {
  width: 80%;
}

.reset-password form input {
  padding: 0.5rem;
}

.reset-password form button {
  padding: 1rem;
  background: #2c3639;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.reset-password form button:hover {
  background: white;
  color: #2c3639;
  border: 1px solid #2c3639;
}

.about {
  font-family: "IM Fell Great Primer", serif;
  line-height: 2;
  text-align: center;
}

.about h2,
.about h4 {
  color: #a27b5c;
}

.about p {
  color: #87805e;
}

.about h2 {
  text-align: left;
}

.about address {
  margin-block: 3rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}
/*# sourceMappingURL=main.css.map */