footer {
  border-radius: 15px;
  margin-top: 2.5rem;
  form {
    display: grid;
    gap: 0.25rem;
    place-items: center;
    * {
      display: block;
    }
    input {
      width: 60%;
    }
  }
  .social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    a {
      color: black;
      border-radius: 50%;
      padding: 0.25rem;
      & + a {
        margin-left: 1rem;
      }
      * {
        width: 28px;
      }
    }
  }
  .footer-nav {
    padding: 0.5rem;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      li + li {
        margin-left: 1rem;
      }
    }
  }
}
