footer {
  padding-top: 2.5rem;
  background-color: #efefef;
  position: relative;
  z-index: 0;
  form {
    display: grid;
    gap: 0.25rem;
    place-items: center;
    * {
      display: block;
    }
    label {
      font-family: 'Shadows Into Light', cursive;
      font-size: 1.5rem;
    }
    input {
      width: 60%;
      border: none;
      padding-inline: .5rem;
      &[type="submit"] {
        background-color: #aaaaaa;
        box-shadow: 2px 2px 3px 1px gray;
        transition: all 0.2s linear;
        cursor: pointer;
        &:active {
          transform: translateX(2px) translateY(2px);
          box-shadow: none;
        }
      }
    }
  }
  .social-media {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    a {
      color: black;
      border-radius: 50%;
      padding: 0.25rem;
      & + a {
        margin-left: 1rem;
      }
      * {
        width: 28px;
      }
    }
  }
  .footer-nav {
    padding: 0.5rem;
    font-family: 'Shadows Into Light', cursive;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      li + li {
        margin-left: 1rem;
      }
    }
  }
}
