.login,
.create-account {
  border: 1px solid black;
  margin-inline: 1.75rem;
  text-align: center;
  font-family: "IM Fell Great Primer", serif;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-block: 3.75rem;
    span {
      display: flex;
      justify-content: stretch;
      gap: 0.5rem;
      width: 80%;
    }
    input,
    button {
      width: 80%;
    }
    input {
      padding: 0.5rem;
    }
    button {
      padding: 1rem;
      background: #2c3639;
      border: 1px solid white;
      color: white;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background: white;
        color: #2c3639;
        border: 1px solid #2c3639;
      }
    }
  }
  .forgot-create {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 1rem;
  }
}

.reset-password {
  border: 1px solid black;
  margin-inline: 1.75rem;
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-block: 3.75rem;
    input,
    button {
      width: 80%;
    }
    input {
      padding: 0.5rem;
    }
    button {
      padding: 1rem;
      background: #2c3639;
      border: 1px solid white;
      color: white;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        background: white;
        color: #2c3639;
        border: 1px solid #2c3639;
      }
    }
  }
}
