.shopping-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: -2px;
  left: -2px;
  z-index: 2;
  pointer-events: all;
  background: rgba(black, 0.5);
  .cart {
    position: relative;
    height: 100vh;
    background: #2C3639;
    float: right;
    z-index: 5;
    padding-inline: 0.5rem;
    width: 100%;
    overflow: auto;
    @media (min-width: 768px) {
      width: 50%;
    }
    .added {
      border-bottom: 1px solid black;
      text-align: center;
      position: relative;
      padding-block: 1rem;
      .icon {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        cursor: pointer;
      }
    }
    .shopping-list {
      position: relative;
      color: #DCD7C9;
      z-index: 6;
      padding-inline: 0.25rem;
      height: 10rem;
      display: flex;
      gap: 0.25rem;
      margin-block: 0.5rem;
      .item-image {
        mix-blend-mode: multiply;
        width: 40%;
        img {
          height: 100%;
        }
      }
      .item-detail {
        flex: 1;
        padding: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input {
          width: 5ch;
        }
      }
    }
  }
  .checkout {
    display: flex;
    justify-content: center;
    padding-block: 0.25rem;
    button {
      width: 90%;
      border-radius: 0;
    }
  }
}
.underline {
  width: 85%;
  height: 2px;
  background: black;
  margin: 1rem auto;
}
