//SHADOW INTO LIGHT FONT
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Roboto:wght@100&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Whisper&display=swap");

//IM Fell Great Primer
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=IM+Fell+Great+Primer:ital@0;1&family=Roboto:wght@100&family=Rock+Salt&family=Shadows+Into+Light&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Whisper&display=swap");

#root {
  position: relative;
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100vh;
  background: url(./../image/banner-phone.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  .background-filter {
    background-position: fixed;
    position: absolute;
    inset: 0 0 0 0;
    backdrop-filter: sepia(60%);
    pointer-events: none;
    z-index: -2;
  }
  @media (min-width: 769px) {
    background: url(./../image/banner.jpg) no-repeat center fixed;
    background-size: cover;
  }
  picture {
    source,
    img {
      width: 100%;
      height: 100vh;
      filter: sepia(60%);
    }
  }
  h1 {
    position: absolute;
    width: 100%;
    top: 45%;
    text-align: center;
    font-size: 5rem;
    z-index: -1;
    color: black;
    background: #aaaaaa;
    backdrop-filter: opacity(30%);
  }
}
h2.featured {
  text-align: center;
  margin-block: 3.5rem;
}

.search {
  position: fixed;
  inset: 0 0 0 0;
  display: grid;
  place-items: center;
}

.main {
  margin-inline: 1rem;
  margin-block: 3.5rem;
  * {
    margin-inline: auto;
  }
  img {
    width: 100%;
  }
  .start-shopping {
    background: url(./../image/shopping.jpg);
    background-size: cover;
    height: 45vh;
    margin-bottom: 1.5rem;
    p {
      height: 100%;
      width: 100%;
      display: grid;
      place-items: center;
      backdrop-filter: grayscale(60%);
      font-size: 2rem;
      color: black;
    }
  }
  .our-story {
    display: grid;
    gap: 2.5rem;
    margin-top: 3.5rem;
    line-height: 2;
  }
  @media (min-width: 768px) {
    margin-inline: 3.5rem;
  }
  @media (min-width: 992px) {
    margin-inline: 6rem;
  }
  font-family: "IM Fell Great Primer", serif;
  .feautered-products {
    text-align: center;
    > h4 {
      margin-block: 2.5rem;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-auto-flow: 100%;
      gap: 1rem;
      .image-container {
        position: relative;
        margin-bottom: 0.75rem;
        .backdrop-filter {
          position: absolute;
          inset: 0 0 0 0;
          z-index: 2;
          transition: all 0.25s linear;
          box-shadow: 5px 5px 10px 5px gray;
          cursor: pointer;
          &:hover {
            backdrop-filter: brightness(120%);
          }
          &:active {
            backdrop-filter: brightness(90%);
            box-shadow: initial;
          }
        }
      }
    }
  }
}

.hidden-overflow {
  overflow: hidden;
}
