.products-list {
  border-top: 1px solid;
  padding-block: 1.5rem;
  margin-inline: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: space-around;
  column-gap: 0.5rem;
  row-gap: 2rem;
  article {
    .image-container {
      position: relative;
      .backdrop-filter {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
        transition: all 0.25s linear;
        cursor: pointer;
        &:hover {
          backdrop-filter: brightness(120%);
        }
        &:active {
          backdrop-filter: brightness(90%);
        }
      }
    }
    .details {
      text-align: center;
    }
  }
}
